<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - entretenimento_organização</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/entretenimento_organização.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <div class="banner">

            <h1 class="banner-frase1">Bem vindo(a) ao EntertainSync!</h1>
            <h2 class="banner-frase2">Seu organizador de livros, séries e filmes. Explore já!</h2>

            @*  @if (ViewBag.IsHomePage)
            {
                <h1>Bem vindo(a) ao EntertainSync!</h1>
                <h2>Seu organizador de livros, séries e filmes. Explore já!</h2>
            }
            else
            {
                <img src="logo.png" alt="EntertainSync Logo">
            } *@
            <br>
            <br>
            <br>
            
            <div class="icons">
                <div class="icon">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/img/icone/xicara-de-cafe.cor.png" alt="Ícone Xícara de Café" class="icone-colorido">
                        <p>Home</p>
                    </a>
                </div>
                <div class="icon">
                    <a href="@Url.Action("Livros", "Home")">
                        <img src="~/img/icone/livro.cor.png" alt="Ícone Livro" class="icone-colorido">
                        <p>Livros</p>
                    </a>
                </div>
                <div class="icon">
                    <a href="@Url.Action("Filmes", "Concluidos")">
                        <img src="~/img/icone/filme.cor.png" alt="Ícone Filme" class="icone-colorido">
                        <p>Filmes</p>
                    </a>
                </div>
                <div class="icon">
                    <a href="@Url.Action("Series", "Concluidos")">
                        <img src="~/img/icone/serie.cor.png" alt="Ícone Série" class="icone-colorido">
                        <p>Séries</p>
                    </a>
                </div>
                <div class="icon">
                    <a href="@Url.Action("Index", "Concluidos")">
                        <img src="~/img/icone/concluido.cor.png" alt="Ícone Concluído" class="icone-colorido">
                        <p>Concluídos</p>
                    </a>
                </div>

        </div>
    </header>
    <script>

        //icones
        // document.addEventListener("DOMContentLoaded", function () {
        //     const icons = document.querySelectorAll(".icon");

        //     icons.forEach(icon => {
        //         icon.addEventListener("click", function () {
        //             // Removendo a classe "selected" de todos os ícones
        //             icons.forEach(i => i.classList.remove("selected"));
        //             // Adicionando a classe "selected" ao ícone clicado
        //             icon.classList.add("selected");
        //         });
        //     });
        // });


</script>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
