@model IEnumerable<EntertainSync.Models.Home>

@{
    ViewData["Title"] = "Index";
}

<div id="alphabet-nav" class="alphabet-nav"></div>


<div id="banner">
    <img src="~/img/banne.png" class="banner" width="100%" height="370" alt="Banner">

    <div id="category-buttons" class="botoes">
       
        <button id="movies-btn" onclick="changeCategory(0)" >Filmes</button>
        <button id="series-btn" onclick="changeCategory(1)">Séries</button>
        <button id="books-btn" onclick="changeCategory(2)">Livros</button>
    </div>
</div>

<div>
    <a href="#" onclick="verTodos()">Ver todos</a>
</div>

<br>

<p>
    <a class="btn btn-primary" onclick="adicionarEntretenimento()" asp-action="Create">Adicionar&nbsp;<span class="fa fa-plus"></span></a>
</p>




@* Adicionado entretenimento na Home Page *@

@foreach (var item in Model)
{
    <section  class="col">

        <div class="col d-flex justify-content-">

            <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/img/editar.png" width="15px " height="15px"></a>
            <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Deseja excluir?');"><img src="~/img/excluir.png" width="15px " height="15px"></a>

        </div>
        <div class="estruturaPai">
            <div class="estrutura">

                <div class="row">
                    <div class="text-center">

                        <h5 class="titulo">
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </h5>
                    </div>
                    <div id="container">
                        <!-- Menu de opções -->
                        <form action="#">
                            <select name="Status" id="opcoes">
                                <option value="naoIniciado">Não iniciado</option>
                                <option value="emAndamento">Andamento</option>
                                <option value="Concluido">Concluído</option>
                            </select>
                        </form>

                        <!-- Estrelas -->
                        <div id="estrelas-container">
                            <span class="estrela" data-rating="1">&#9734;</span>
                            <span class="estrela" data-rating="2">&#9734;</span>
                            <span class="estrela" data-rating="3">&#9734;</span>
                            <span class="estrela" data-rating="4">&#9734;</span>
                            <span class="estrela" data-rating="5">&#9734;</span>
                        </div>
                    </div>

                    <p class="link">
                        <a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Link)</a>
                    </p>
                </div>
            </div>

            <div class="estruturaIMG">
                <img src="@item.LinkImagem" alt="Imagem" class="linkImagem">

            </div>
        </div>
    </section>

}


<!--arrumar a logica do js estrelas-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Inicializa as estrelas como desativadas
        $(".estrela").prop("disabled", true);

        // Manipula a mudança no menu de opções
        $("#opcoes").change(function () {
            var status = $(this).val();

            // Habilita ou desabilita as estrelas com base no status
            if (status === "Concluido") {
                $(".estrela").prop("disabled", false);

                // Manipula o clique nas estrelas
                $(".estrela").click(function () {
                    var rating = $(this).data("rating");

                    // Simula a ação de selecionar/deselecionar estrelas
                    $(".estrela").each(function () {
                        var currentRating = $(this).data("rating");
                        if (currentRating <= rating) {
                            $(this).html("&#9733;"); // Estrela preenchida
                        } else {
                            $(this).html("&#9734;"); // Estrela vazia
                        }
                    });
                });
            }

            else {
                $(".estrela").prop("disabled", true);
            }
        });
    });

    $(document).ready(function () {
        $("#linkImagem").on("input", function () {
            var linkImagem = $(this).val();
            $("#imagem-preview").attr("src", linkImagem);
        });
    });
</script>



